<h1> Page </h1>

<%= "#{@user.first_name} #{@user.last_name}" %> <br />

<% unless @user == current_user %>

  <%= render 'users/friend_forms' %>

<% end %>

<br />

<h2> Friends List </h2>

<% if @user.friends.empty? %>
  <p>No Friends</p>
<% else %>
  <% @user.friends.each do |friend| %>
    <p><%= link_to "#{friend.first_name} #{friend.last_name}", controller: "users", action: "show", id: friend[:id] %></p>
  <% end %>
<% end %>